body {
	background: var(--g-background);
}


/* Input */

#input-area {
	display: inline;

	background: #f001;
}

#input {
	width: 444px;
	margin: 6px 0 6px 1px;
	padding: 0.5em 0.6em 0.4em 0.6em;

	text-align: right;
	font-size: 15px;
	font-family: monospace;
	letter-spacing: 1.6px;
	color: var(--g-input-fg);

	background: var(--g-input-bg);
	border: none;
	border-radius: var(--g-input-radius);
	outline: none;
}


/* History menu */

#history {
	position: absolute;
	top: 9px;
	left: 12px;
}

#history-button {
	padding: 2px;
	width: 26px;
	height: 26px;

	fill: var(--g-history-button-fg);

	background: Transparent;
	border-radius: 3px;
	border: none;
}

#history-button:hover {
	background: var(--g-history-button-bg);
}

#history-button > svg {
	width: 100%;
	height: 100%;
}

#history-items {
	width: 270px;
	max-height: 200px;

	background: var(--g-history-bg);
	backdrop-filter: blur(var(--g-history-bg-blur));
	border-radius: 5px;
	box-shadow: 0 0 8px var(--g-history-shadow);

	overflow-y: scroll;
}

#history-items::-webkit-scrollbar {
	width: 8px;
	background-image: linear-gradient(var(--g-history-scrollbar-bg), Transparent);
}

#history-items::-webkit-scrollbar-thumb {
	background: var(--g-history-scrollthumb-bg);
	border-radius: 1px;
}

.history-item {
	cursor: pointer;
	user-select: none;
}

.history-item > pre {
	display: inline-block;

	font-size: 14px;
}

.history-item-ok {
	display: flex;
	flex-direction: row;

	color: var(--g-history-item-ok);
}

.history-item-ok > pre {
	padding: 1em 0;
	margin: 0;
}

.history-item-ok > *:first-child {
	padding-left: 0.5em;
}

.history-item-error {
	padding: 0 0.5em;

	color: var(--g-history-item-error);

	white-space: nowrap;
	overflow: hidden;
}

.history-item-error > pre {
	padding: 0;
	margin: 1em 0;
}

/* Non-error items */
.history-item-input {
	flex-grow: 45;
	flex-basis: 0;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.history-item-result {
	flex-grow: 55;
	flex-basis: 0;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.history-item-result::before {
	content: " = ";
	color: var(--g-history-equals);
}

.history-item-section-error {
	border-bottom: 1px solid var(--g-history-error-underline);
}

.history-item-error:hover, .history-item-input:hover, .history-item-result:hover {
	background: var(--g-history-item-highlight);
}


/* Input Errors */

#error-input {
	position: absolute;
	top: 6px;
	left: 6px;

	width: 444px;
	padding: 0.5em 0.6em 0.4em 0.6em;

	text-align: right;
	font-size: 15px;
	font-family: monospace;
	letter-spacing: 1.6px;
	color: Transparent;

	user-select: none;
}

#error-input[data-active="true"] {
	pointer-events: all;
}

#error-input[data-active="false"] {
	pointer-events: none;
}

#error-input > pre {
	display: inline-block;
	margin: 0;
}

.section-text {
	cursor: default;
}

.section-error {
	border-bottom: 1px solid var(--g-error-underline);
	cursor: pointer;
}

#error-input[data-active="true"] > .section-error {
	background: var(--g-error-highlight);
}


#error-message {
	position: absolute;
	margin: 0;
	padding: 0.5em 0.6em;

	color: var(--g-error-message-fg);
	font-size: 15px;
	letter-spacing: 1.4px;

	background: var(--g-error-message-bg);
	backdrop-filter: blur(2px);
	border-radius: 3px;
}

#error-message > span {
	margin: 0;
	padding: 0;
}


/* Buttons */

#button-area {
	display: grid;
	grid-auto-rows: 40px;
	grid-template-columns: repeat(7, 62px);
	gap: 5px;

	user-select: none;
}

#button-area button {
	font-size: 15px;

	border: none;
	border-radius: var(--g-button-radius);
}


/* Specific button styling */

#angle-mode {
	grid-column: 1 / 3;

	display: flex;
	justify-content: space-evenly;
	align-items: center;

	padding: 0 0 1px 0;
}

#angle-mode > span {
	display: block;
}

#angle-mode[data-mode="Rad"] span:first-child {
	color: var(--g-angle-mode-active);
}

#angle-mode[data-mode="Deg"] span:last-child {
	color: var(--g-angle-mode-active);
}

#angle-mode > div {
	width: 2px;
	height: 1.2em;
	background: var(--g-angle-mode-bar);
}


.modifier[name="inv"][data-active="true"] {
	color: var(--g-invert-active);
}


/* General button styling */

.modifier {
	color: var(--g-btn-modifier-fg);
	background: var(--g-btn-modifier-bg);
}

.function {
	color: var(--g-btn-function-fg);
	background: var(--g-btn-function-bg);
}

.number {
	color: var(--g-btn-number-fg);
	background: var(--g-btn-number-bg);
}

.operator {
	color: var(--g-btn-operator-fg);
	background: var(--g-btn-operator-bg);
}

.constant {
	color: var(--g-btn-constant-fg);
	background: var(--g-btn-constant-bg);
}

#button-equals {
	color: var(--g-btn-equals-fg);
	background: var(--g-btn-equals-bg);
}
